body{

  background-color: white;
  font-family: 'Open Sans', sans-serif;

}

#content div{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-shadow: black 0.05em 0.05em 0.1em;
}

#content h1{
  width: 100%;
  left: 0px;
  right: 0px;
  font-weight: 600;
  position: absolute;
  z-index: 1;
  margin-top: 10%;
  font-size: 2.0em;
  text-align: center;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: black 0.05em 0.05em 0.1em;
}

#topbar{
  position: absolute;
  background-color:#ff4f01;
  height: 20px;
  width: 100%;
  left: 0px;
  right: 0px;
  /*margin-top: 5px;*/
}

/*#middlebar{
  position: absolute;
  background-color:#100b72;
  height: 70%;
  width: 100%;
  left: 0px;
  right: 0px;
  z-index: -1;
  margin-top: 5px;
}*/

#bottombar{
  position: absolute;
  background-color:#ff4f01;
  height: 20px;
  width: 100%;
  margin-top: 560px;
  left: 0px;
  right: 0px;
}

#content{
  position: absolute;
  background-color:#100b72;
  color: white;
  margin-top: 20px;
  padding-top: 8%;
  left: 0px;
  right: 0px;
  width: 100%;
  padding-bottom: 4%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  min-height:400px;
}

#footer{
  position: relative;
  width: 100%;
  margin-top: 630px;
  color: #ff4f01;
  text-align: center;
  white-space: nowrap;
  padding: 4px 0  4px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.00em;
  left: 0px;
  right: 0px;

}

#logoutButton {
  margin-left: 75%;
  margin-bottom: 5px;
}

form {
  margin-top: 40px;
  color: white;
}
